<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <link href="./css/app.css" rel="stylesheet">
    <title>タイピングゲーム</title>
  </head>
  <body>

    <main>
      <p id='text'></p>
      <script type="text/javascript" src="./app.js"></script>
    </main>

    <footer>
      <copy id="copy">copyright 2021 Hiroki Kinjo & Mamoru Moriai.</copy>
    </footer>
  </body>
</html>
