* {
  padding: 0;
  margin: 0;
  font-family: 'Courier';
}
/* ボディー設定 */
body {
  height:100vh;
}
/* ヘッダー設定 */
header {
  height: 10%;
}
/* メイン設定 */
main{
  position:relative;
  text-align: center;
  height: 80%;
}
#text {
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-100%);
  width:100%;
  font-size: 4em;
  letter-spacing: 10px;
  font-family: 'Courier';
} 

#translation {
  position:absolute;
  top:30%;
  left:50%;
  transform:translate(-50%,-100%);
  width:100%;
  font-size: 2em;
  letter-spacing: 20px;
  font-family: 'Courier';
}

.under-line {
  border-bottom: solid #000 4px;
}
.red {
  color: red;
  transition: all;
}
/* フッダー設定 */
footer {
  position:relative;
  font-family: 'Courier';
  text-align: center;
  height: 10%;
}

/*
  #####################################################
  #                  main画面設定                     #
  #####################################################
 */
.monitor {
  text-align: center;
  height: 90%;
  width: 70%;
  margin: 0 15%;
  /* border-radius: 10%;
  border: solid 5px #000; */
}
.monitor-contents {
  position: relative;
  padding: 5%;
  height: 90%;
}
.content-text{
  position: absolute;
  top:40%;
  left: 50%;
  width: 100%;
  transform:translate(-50%,-100%);
}

/* contentsを2秒かけて消す */
#contents.hidden {
  animation: out 1.1s linear 0s forwards;
}
@keyframes out {
	0%{
		opacity:1;
	}
	75%{
		opacity:0.5;
	}
	100% {
		opacity:0;
    display: hidden;
	}
}
.content-text p span.red{
  color: red;
  font-size: large;
}

/* ボタン設定 */
.main-btn {
  font-size: 1.3em;
  position: absolute;
  bottom: 10%;
  transform:translate(-50%,-100%);
  height: 60px;
  border-radius: 10px;
}

 /* スタートボタン設定 */
 #start-btn{
  left:40%;
  width: 180px;
  color: #fff;
  border-color: #eb6100;
  background-color: #eb6100;
  border-bottom: 7px solid #b84c00;
}
#start-btn:hover {
  bottom: 9%;
  color: #fff;
  background: #f56500;
  border-bottom: 2px solid #b84c00;
 }

 /* ルールボタン設定 */
#role-btn{
  left: 60%;
  width: 100px;
  color: #fff;
  border-color: #25d834cb;
  background-color: #25d834cb;
  border-bottom: 7px solid #1a9b25cb;
}
#role-btn:hover {
  bottom: 9%;
  color: #fff;
  background: #25d834cb;
  border-bottom: 2px solid #1ea529cb;
}
.btn-shadow {
  box-shadow: 1px 10px 5px rgba(0, 0, 0, .3);
}

/* カウントダウン設定 */
 #count_timer {
  position: absolute; 
  top: 50%;
  left: 50%;
  font-size: 2em;
  transform:translate(-50%,-100%);
 }
 #count_timer.hidden{
  animation: out 1.1s linear 0s forwards;
 }

 /* ゲーム中タイマー設定 */
 #game_timer {
  position: absolute; 
  top: 10%;
  left: 80%;
  font-size: 3em;
  transform:translate(-50%,-100%);
 }

 /* ゲームスコア設定 */
 #game_score {
  position: absolute; 
  top: 10%;
  left: 20%;
  font-size: 3em;
  transform:translate(-50%,-100%);
 }

 /* 終了モニター設定 */
#end-monitor {
  position: fixed;
  top: -100%;
  background-color: white;
  left: 50%;
  width: 100%;
  height: 100%;
  transform: translate(-50%,-100%)
}

#end-monitor.active {
  top: 100%;
  transition: all 0.5s;
}
#end-monitor.hidden {
  /* monitorを2秒かけて消す */
  animation: out 1.1s linear 0s forwards;
} 

/* 「終了！！」の文字 */
#end-text {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%,-100%);
  font-size: 2em;
}


/* ルールモーダル */
/* モーダルウィンドウ全体のレイアウト（画面いっぱいに表示）*/
.c-modal {
    display: none;
    height: 100vh;
    position: fixed;
    top: 0;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}

/* 黒背景の設定 */
.c-modal_bg {
    background: rgba(0, 0, 0, 0.6);
    height: 100vh;
    width: 100%;
}

/* ウィンドウの設定 */
.c-modal_content {
    background: #fff;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
}
.c-modal_content_inner {
  position: relative;
	padding: 24px;
}

/* 閉じるボタン */
.c-modal_close {
  position: absolute;
  top: 5px;
  right: 5px;
}

/* ルール内容 */
.rule {
	text-align: left;
}

/* bgmボタン */
#bgm_btn {
  position: absolute; 
  top: 10%;
  left: 50%;
  font-size: 3em;
  transform:translate(-50%,-100%);
}

/*
  #####################################################
  #                  score画面設定                     #
  #####################################################
 */
 /* スコアコンテンツの設定 */
 #score-contents {
   border-radius: 10%;
   border: solid 5px #000;
   padding: 10px;
   margin: 10px 50px 10px 50px;
   height: 60%;
  }
  /* 「結果」の設定 */
  #score-contents #score-title {
    font-size: 2em;
    font-weight: bold;
    font-family: 'Courier';
  }
	
	.score-title {
		text-align: left;
		font-size: 1.5em;
		font-family: 'Courier';
		/*font-weight: bold;*/
	}
	
	.score-rank {
		text-align: right;
		margin-right: 10%;
		font-size: 3em;
		font-family: cursive;
	}
	
	.score-ul {
		list-style: none;
		font-size: 1.3em;
	}
	
  /* スコアデータの設定 */
	/*
  .score-data {
    font-size: large;
    position: relative;
    height: 80%;
    padding: 10px;
  }
  
	/* hrの設定 */
	/*
  hr {
    border: 0.1px solid #000;
  }
  
  /* スコアの設定 */
	/*
  #scoreAria {
    position: absolute;
    top:10%;
    left:20%;
    transform: translate(-50%, -50%);
  }
  /* ランクエリアの設定 */
	/*
  #rankAria {
    position: absolute;
    top:10%;
    left:80%;
    transform: translate(-50%, -50%);
  }
  /* 入力単語数の設定 */
	/*
  #submitWordAria {
    position: absolute;
    top:80%;
    left:20%;
    transform: translate(-50%, -50%);
  }
  /* 正解率の設定 */
	/*
  #accuracyRateAria {
    position: absolute;
    top:80%;
    left:50%;
    transform: translate(-50%, -50%);
  }
  /* タイプ速度の設定 */
	/*
  #typAverageAria {
    position: absolute;
    top:80%;
    left:80%;
    transform: translate(-50%, -50%);
  }
  */
	
  /* もう１度ボタン設定 */
  #again-btn{
    left:50%;
    width: 180px;
    color: #fff;
    border-color: #0066eb;
    background-color: #0066eb;
    border-bottom: 7px solid #0066eb;
		cursor: pointer;
  }
  #again-btn:hover {
    bottom: 9%;
    color: #fff;
    background: #002df3;
    border-bottom: 2px solid #002df3;
   }
	 
	 
	 /* 答案用紙風 */
	.score-body {
		background: linear-gradient(#ccc, #fff);
		font: 14px sans-serif;
	}
	.score-sheets {
	  background: #fff;
	  box-shadow: 0 0 10px rgba(0,0,0,0.3);
	  margin: 26px auto 0;
	  max-width: 550px;
	  min-height: 300px;
	  padding: 24px;
		position: relative;
	  width: 80%;
	}
	.score-sheets:before, .score-sheets:after {
	  content: "";
	  height: 98%;
	  position: absolute;
	  width: 100%;
	  z-index: -1;
	}
	.score-sheets:before {
	  background: #fafafa;
	  box-shadow: 0 0 8px rgba(0,0,0,0.2);
	  left: -5px;
	  top: 4px;
	  transform: rotate(-2.5deg);
	}
	.score-sheets:after {
	  background: #f6f6f6;
	  box-shadow: 0 0 3px rgba(0,0,0,0.2);
	  right: -3px;
	  top: 1px;
	  transform: rotate(1.4deg);
	}